.test {
    -fx-background-color: green;
}

.menuItem {
    -fx-background-color: #1d1d1d;
}
.menuBar{
    -fx-pref-height: 40;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
    -fx-alignment: center;
}

.menu-item {
     -fx-padding:10;
}


.testBorder {
    -fx-border-color: red;
    -fx-border-width: 2;
}

.noteItem {
        -fx-border-color: #C2C2C2;
        -fx-border-width: 0 0 1 0;
        -fx-padding: 0 5 5 5 ;

}

.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-background-color:#E0E0E0;
    -fx-font-style: italic;
}

/*.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #404040 ;
}    */

