.root {
    -color-orange: #FF9800; /*orange*/
    -color-blue-gray: #455A64;
    -color-white-gray: #CFD8DC;
    -dark-gray: #727272; /* dark gray*/
    -color-text-white: #FFFFFF;
    -color-text-black: #212121;
    -color-light-gray: #B6B6B6;  /* gray*/
    -color-brown: #44382A; /* #543F3D;/*#42A5F5 */
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

.button {
    -fx-background-color: -color-white-gray;
    -fx-border-width: 2;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-border-color: transparent;
    -fx-text-fill: -dark-gray;
}
.button:hover {
    -fx-text-fill: -color-orange;
    -fx-border-color: -color-orange;
}
.button-action {
    -fx-background-color: -dark-gray !important;
    -fx-text-fill: -color-text-white;
}
.buttonIcon {
  -fx-padding: 5 5 5 5;
}
.text-area:focused, .text-field:focused, .combo-box:focused, .choice-box:focused {
	-fx-border-color: -color-orange;
}
.list-cell {
    -fx-border-width: 0 0 2 0;
    -fx-accent: transparent;
    -fx-border-color: transparent;
}

.list-view:hover .list-cell:hover {
	-fx-font-weight: 700;
	-fx-text-fill: -color-text-black;
	-fx-border-color: -color-orange;
	-fx-background-color:transparent;
}

.list-view:focused .list-cell:filled:focused:selected {
	-fx-background-color: -dark-gray;
    -fx-font-weight: 700;
    -fx-text-fill: -color-text-black;
    -fx-font-style: italic;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.tooltipError {
    -fx-background-color: #F05656;
    -fx-text-fill: white;
    -fx-font-size: 14;
}
.selected-node {
    -fx-border-color: white !important;
    -fx-font-weight: bold;
    -fx-background-color: -dark-gray !important;
}

.editable-label > * > .label{
      -fx-font-size: 16;
      -fx-padding: 5 10 5 15;
}
.editable-label > * > .text-field {
    -fx-min-width: 200px;
}
.control-labelText {
    -fx-padding: 20 0 0 0;
}

.content-pane {
     -fx-padding: 15;
}

.custom-pane {
    -fx-background-color: white;
    -fx-background-radius: 2.0;
    -fx-padding: 15;
}
.glyph-icon {
    -fx-fill: -dark-gray;
}

.button:hover .glyph-icon, .glyph-icon:hover {
    -fx-fill: -color-orange;
}

/************************************************
                    Details panel 
*************************************************/
.noteTitle > * > .label {
    -fx-text-fill: black;
    -fx-font-size: 22;
    -fx-font-family: Lato;
    -fx-opacity: 0.9;
    -fx-font-weight:bold;
}

.noteLabelTime {
    -fx-padding: 8 10 10 15;
}

.noteDateTime {
    -fx-padding: 8 10 10 0;
}
.detailPanel {
    -fx-padding: 0 0 15 0;
    -fx-max-height: 180;
}

.detailPanel .button {
    -fx-padding: 6;
}

.control-label .text {
    -fx-font-size: 1.2em;
    -fx-fill: -color-text-black;
}

.control-label-two .text {
    -fx-font-size: 1.2em;
    -fx-fill: -dark-gray;
}
.toggle-switch .thumb {
    -fx-background-radius: 1.2em; /* large value to make sure this remains circular */
    -fx-padding: 0.55em;
}

.toggle-switch .thumb-area{
    -fx-padding: 0.50em 1.1em 0.50em 1.1em;
}

.toggle-switch:selected .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
                            linear-gradient(to bottom, derive( -color-light-gray, 30%),  -color-light-gray);
 }

.button-pane {
   -fx-padding: 10 10 0 15;
 }


/************************************************
            Details panel -> Tag Panel 
*************************************************/
.removeButton {
    -fx-background-color: -dark-gray;
    -fx-padding: 0 5 5 0;
    -fx-font-weight: 900;
}
.tag {
    -fx-background-color: -dark-gray;
    -fx-padding: 0 5 5 0;
    -fx-background-radius: 4;
}
.tag * {
    -fx-fill: -color-text-white; 
    -fx-text-alignment:center;
}
.tag *:hover { -fx-fill:-color-orange;}

/***************
    Add tag 
***************/
.textFieldTag .text-field {
    -fx-min-width:250;
}

.textFieldTag > .label {
    -fx-padding: 7 0 0 0;
}

/************************************************
            Note Editor panel -> HtmlEditor 
*************************************************/
.disableButton .text {
      -fx-fill:  -color-white-gray;
}
.notification-pane .notification-bar > .pane {
    -fx-background-radius: 2;
    -fx-background-color: -color-light-gray;
    -fx-padding: 0 7 0 7;
}

.notification-bar .text {
    -fx-fill: -color-text-black;
}
.notificationButton {
    -fx-background-color: -color-brown;
    -fx-text-fill: -color-text-white;
    -fx-padding: 5px;
}
.notificationButton .text {
    -fx-fill: -color-text-white;
}

.notificationButton .text:hover {
    -fx-fill: -color-orange;
}

.tool-bar > * > .button:hover {
    -fx-border-color: transparent;
    -fx-fill: -color-orange;
}

/************************************************
            Note Editor panel -> TodoEditor
*************************************************/

 .todo-editor {
     -fx-focus-color: transparent;
 }
 .todo-editor > * {
      -fx-focus-color: transparent;
 }

.check-box-cell:hover {
	-fx-background-color: -swatch-light-grey;
	-fx-font-weight: 700 ;
}
 .tool-bar-editor {
    -fx-background-color: -swatch-toolbar;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -color-light-gray;
    -fx-text-fill: -fx-text-base-color;
 }

.check-box-cell:odd { -fx-background-color: #DCDCDC; }
.check-box-cell:even { -fx-background-color: #F6F6F6; }
.check-box-done > * > * > .text { 
        -fx-strikethrough: true;
        -fx-fill: -color-light-gray;
    }

/************************************************
               Left Menu Panel
*************************************************/
.menu-left {
    -fx-padding: 15 0 15 10;
    -fx-focus-color: transparent;
}
.menu-left > * {
     -fx-focus-color: transparent;
}
.menu-item {
    -fx-padding:10;
}

.noteItem {
    -fx-border-color: -color-light-gray;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 5 5 5 ;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-background-color: -dark-gray;
    -fx-font-style: italic;
    -fx-fill: -color-brown;
}

.smallText {
    -fx-font-size: 12;
    -fx-font-style: italic;
}

/************************************************
                Top Menu Panel
*************************************************/
.tool-bar-menu .button, .tool-bar-menu .toggle-button {
    -fx-pref-width: 150;
}
.tool-bar-menu .button:hover, .tool-bar-menu .toggle-button:hover {
    -fx-border-color:  -color-orange;
    -fx-border-width: 0 0 3 0;
}
.menuBar{
    -fx-pref-height: 40;
}
.menuBar .active {
    -fx-background-color: -color-light-gray;
    -fx-border-color:  -color-brown;
    -fx-border-width: 0 0 3 0;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-text-fill: -color-text-black;
    -fx-opacity: 0.9;
    -fx-alignment: center;
}

 /****************************************************************
                Search box
 ****************************************************************/


.search-box .text-field {
    -fx-background-color: white;
    -fx-background-insets: 1;
    -fx-background-radius: 2;
    -fx-padding: 0 0 0 20;
    -fx-background-image: url("../images/search.png");
    -fx-background-position:2%;
    -fx-background-repeat:no-repeat;
    -fx-background-size:16;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: grey;
}
.search-box .text-field:focused {
    -fx-background-color: -fx-focus-color, white;
    -fx-background-insets: 1;
    -fx-background-radius: 1.4;
}
  /************************************************
                  Search Result Panel
  *************************************************/
.popoverM > * {
    -fx-background-color: -color-white-gray;
    -fx-max-height:800px;
}

.popover > .content > .title > .text  {
	-fx-font-size: 1.0em;
	-fx-font-weight: bold;
	-fx-text-fill: -color-text-black !important;
	}
.content-search {
    -fx-focus-color: transparent;
    -fx-padding:15;
}

.list-search-notes {
   -fx-background-color: white;
   -fx-pref-width:450;
   -fx-max-height:800;
   -fx-padding:10 25 10 10;
}

.note-node {
     -fx-background-color: white;
     -fx-border-color: -color-light-gray;
     -fx-border-width: 0 0 2 0;
     -fx-padding: 10 5 5 5 ;
}
.not-found-text {
    -fx-font-size: 18px;
    -fx-font-weight:900;
    -fx-padding:25;
}
.no-results {
    -fx-padding:20 40 10 40;
}
.alert-icon {
    -fx-fill: #E32B2B;
    -fx-font-size: 4em;
    -fx-padding:20;
}

.search-box .button:hover {
    -fx-text-fill:orange;
    -fx-border-color: tr
}

/****************************************************************
                Left Menu & Settings Panel
****************************************************************/
.menu-panel{
    -fx-padding: 15;
    -fx-background-color:white;
    -fx-pref-width:250;

}
.menu-cell {
    -fx-background-color:white;
    -fx-border-color: -color-light-gray;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 30 5 10 5 ;

}
.menu-cell > * { -fx-font-size: 18;}
.menu-cell:hover {
    -fx-border-color: -color-orange;
    -fx-font-weight: bold;
}
.menu-cell-active {
    -fx-border-color: -color-brown !important;
    -fx-font-weight: bold;
}
.settings-panel .control-labelText {
     -fx-font-size: 16;
}
.title {
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-font-family: Lato;
}

.db-row {
    -fx-padding: 10 5 15 5;
}

.db-text {
    -fx-font-size: 18;
    -fx-padding: 7 10 5 0;
    -fx-text-fill: -color-text-black;
    -fx-border-color: -color-light-gray;
    -fx-border-width: 0 0 2 0;
}
 /****************************************************************
                Tags Panel
 ****************************************************************/
 .tag-cell{
    -fx-min-width: 200;
    -fx-padding: 10;
    -fx-border-width: 1;
    -fx-border-color:  -color-blue-gray;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-color: -color-light-gray;
 }
 .tag-cell:hover {
    -fx-border-color: -color-orange;
    -fx-border-width: 2;
    -fx-padding: 9;
 }
 .tag-cell.active {
    -fx-border-color: -color-brown;
    -fx-background-color: -color-brown;
 }
 .tag-cell .tagName {
    -fx-text-fill: -color-text-black;
    -fx-font-size: 1.3em;
    -fx-padding: 0 0 5 0;
 }
 .tag-cell .notesInfo {
    -fx-fill: -dark-gray;
    -fx-font-size: 0.9em;
 }

/*.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #404040 ;
}    */


 /****************************************************************
                Insert table dialog
 ****************************************************************/
 .contentWhite {
   -fx-padding: 5;
   -fx-background-color:white;
   -fx-pref-width:150;
 }
 .contentWhite .label .text,  .contentWhite .text-field>*>.text{
    -fx-font-size: 0.8em;
    -fx-font-weight: 200;
 }
 .contentWhite .label {
    -fx-min-width:80;
    -fx-alignment:top-right;
    -fx-text-alignment: right;
    -fx-padding: 6 0 0 0;
 }

.testBorder {
    -fx-border-color: red;
    -fx-border-width: 1;
 }

     /*-fx-focus-color: transparent;*/
     /*-fx-border-width:0;*/
    /*-fx-padding:5;*/
}
